
/* @font-face {
    font-family: myCustomFont;
    src: url(../assets/font/Playwright\ HR/myCustomFont);
  } */
  
body {
    background-color: rgb(3, 87, 87);
    background-image: url(../assets/img/pexels-anniroenkae-2860804.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 500%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 251, 251);
    color: rgb(255, 255, 255);
    margin: 30px;
}

h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(94, 84, 89);
    font-size: 30px;

}

.prompts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding:30px;
} 

#reset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.television {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
}





