
@font-face {
    font-family: 'Playwrite HR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playwritehr/v1/WWXAljmQYQCZM5qaU_dwQYcybAQ7GFn1mFNJPsoB9YLXAHC6vvg.woff) format('woff');
  }

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYySUhiCXAA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
        font-family: "Chango", sans-serif;
        font-weight: 400;
        font-style: normal;
        src: url(https://fonts.googleapis.com/css2?family=Chango&display=swap);
}
  
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(3, 87, 87);
  }
}

body {
    background-color: rgb(3, 87, 87);
    background-image: url(../assets/img/pexels-anniroenkae-2860804.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main-logo {
    width: 500px;
    display: flex;
    justify-content: center;
    flex: column;
}

#question-img {
    width: 600px;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.mood-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mood-container > img {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 20px;
    border-radius: 10%;
    background-color: #ce24dd;
    padding: 2px;
}

h1 {
    font-family: 'Chango';
    font-size: 30px;
    display: flex;
    text-align: center;
    text-wrap: wrap;
    justify-content: center;
    background-color: rgb(0 0 0 / 50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(9, 0, 0);
    color: rgb(255, 255, 255);
    max-width: 900px;
    max-height: 300px;
    padding: 10px;
    border-radius: 8px;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: 'Chango';
    margin: 10px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(9, 0, 0);
    color: rgb(255, 255, 255);
}

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#prompts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px;
    justify-content: center;
} 

#option-a {
    display: flex;
    font-family: 'Oswald';
    font-size: 25px;
    background-color: #285c69;
    color: white;
    border-radius: 10%;
    padding: 5px;
    margin: 0 auto;
}
		
#option-b {
    display: flex;
    font-family: 'Oswald';
    font-size: 25px;
    background-color: rgb(164, 34, 136);
    color: white;
    border-radius: 10%;
    padding: 5px;
    margin: 0 auto;
}

#option-c {
    display: flex;
    font-family: 'Oswald';
    font-size: 25px;
    background-color: rgb(218, 33, 33);
    color: white;
    border-radius: 10%;
    padding: 5px;
    margin: 0 auto;
}

#option-d {
    display: flex;
    font-family: 'Oswald';
    font-size: 25px;
    background-color: rgb(6, 64, 123);
    color: white;
    border-radius: 10%;
    padding: 5px;
    margin: 0 auto;
}

#reset {
    display: flex;
    font-family: 'Oswald';
    font-size: 150%;
    background-color: #ffffff;
    color: black;
    border-radius: 10%;
    margin: 0 auto;
}

.start  {
    display: flex;
    font-family: 'Oswald';
    font-size: 150%;
    background-color: #ffffff;
    color: black;
    border-radius: 10%;
}

.start,
.start *,
.start :after,
.start :before,
.start:after,
.start:before {
  border: 0 solid;
  box-sizing: border-box;
}
.start {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #5482ed;
  background-image: none;
  color: black;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 150%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#024412, hsl(0, 0%, 100%));
  padding: 0;
}
.start:disabled {
  cursor: default;
}
.start:-moz-focusring {
  outline: auto;
}
.start svg {
  display: block;
  vertical-align: middle;
}
.start [hidden] {
  display: none;
}
.start {
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 1.1rem 4rem;
  position: relative;
  text-transform: uppercase;
}
.start .new,
.start .old span {
  font-weight: 900;
  transition: transform 0.2s;
}
.start .new {
  display: block;
  transform: scale(0);
}
.start:hover .new {
  transform: scale(1);
}
.start .old,
.start .old span {
  inset: 0;
  position: absolute;
}
.start .old span {
  background: #f6ebf4;
  color: rgb(4, 0, 0);
  display: block;
  display: grid;
  place-items: center;
}
.start .old span:first-child {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.start .old span:nth-child(2) {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.start:hover .old span:first-child {
  transform: translateY(-100%);
}
.start:hover .old span:nth-child(2) {
  transform: translateY(100%);
}


